<h2>Hello {{profile.name}}</h2>
<h3>Profile</h3>
<ul>
    <li>Name: {{profile.name}}</li>
    <li>Last Name: {{profile.lastName}}</li>
    <li>Country: {{profile.country}}</li>
    <li>Address: {{profile.address}}</li>
    <li>Phone: {{profile.phoneNumber}}</li>
    <li>Postal Code: {{profile.postalCode}}</li>
    <li>City: {{profile.city}}</li>
    <li>Bank Account: {{profile.bankAccount}}</li>
</ul>

<h3>Products</h3>


<a href="/user/logout">Log out</a>